@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&display=swap");

.title404 {
  font-family: "Shippori Mincho", serif;
  font-style: normal;
}

.text404 {
  font-family: "BIZ UDPGothic", sans-serif;
  font-style: normal;
}

.body {
  margin-top: -48px;
  text-align: center;
  margin-bottom: 50vh;
}
